* {
	margin: 0px;
	padding: 0px;
} 

body {	
	background: url(horses.jpg) no-repeat center top / cover;
	transition: 1s;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

.intro {
	font-weight: bold;
	padding-top: 20px;
	max-width: 1080px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	opacity: 0;
	animation: show 3s 1; 
	animation-fill-mode: forwards; 
	animation-delay: 0.5s;
}

.left-side{
	width: 50%;
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: 0.5s;
}

.desc {

	height: 200px;
}

.sub-desc {
	font-size: 25px;
	text-align: center;
}

.title-desc {
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
}

.screenshot-overview {
	margin-top: 10px;
	margin-left: 20px;
	height: 200px;	
	width: 500px;
	background-color: grey;
	background: url(mainscreeen.PNG) no-repeat center top / cover;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
}

.animation-overview {
	margin-left: 20px;
	margin-top: 30px;
	height: 150px;	
	width: 500px;
	background-color: transparent;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.animation-overview img {
	width: 115px;
	height: 140px;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
}

.funcs {
	margin-right: 20px;
	height: 150px;	
	margin-top: 40px;
	display: flex;
}

.funcs-item {	
	margin-top: 40px;
	text-align: center;	
}

.right-side{
	width: 50%;
	/*border: 1px solid cyan;*/
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: 0.5s;
}

.start-app-left {
	margin-top: 50px;	
	font-size: 30px;		
	border: 1px solid #000000;	
	text-align: right;	
	color: #000000;
	border-right: 0;
	padding: 5px 5px 5px 20px;
	width: 102px;
	cursor: pointer;
}

.button-holder-left {
	display: flex;
	justify-content: flex-end;	
}

.start-app-right {
	margin-top: 50px;	
	font-size: 30px;	
	border: 1px solid #000000;	
	text-align: center;	
	color: #000000;
	border-left: 0;
	padding: 5px 20px 5px 0px;
	width: 54px;
	cursor: pointer;
}

.button-holder-right {
	display: flex;
	justify-content: flex-start;	
}

.author-left {
	padding-top: 40px;
	letter-spacing: 50px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.author-right {
	padding-top: 40px;
	letter-spacing: 50px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.creative-app {
	display: none;
}

@keyframes show {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}